TSA Claims data
https://www.dhs.gov/tsa-claims-data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## Read the data

In [ ]:
# .csv with coordinates data of the airports
coordinates_df = pd.read_csv('airport_data.csv')
coordinates_df.head()

In [2]:
# Read the .csv with delays data
delays_df = pd.read_csv('airline_delays.csv')
delays_df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2018,8,MQ,Envoy Air,RDU,"Raleigh/Durham, NC: Raleigh-Durham International",237.0,66.0,12.80,1.96,...,22.51,37.0,1.0,3840.0,614.0,136.0,1685.0,0.0,1405.0,NaN
1,2018,8,MQ,Envoy Air,RIC,"Richmond, VA: Richmond International",233.0,68.0,9.93,2.05,...,25.93,20.0,1.0,3485.0,575.0,90.0,1401.0,0.0,1419.0,NaN
2,2018,8,MQ,Envoy Air,ROA,"Roanoke, VA: Roanoke Blacksburg Regional Woodr...",31.0,9.0,1.53,0.00,...,1.90,3.0,0.0,549.0,190.0,0.0,183.0,0.0,176.0,NaN
3,2018,8,MQ,Envoy Air,ROC,"Rochester, NY: Greater Rochester International",174.0,34.0,5.94,1.47,...,11.16,17.0,0.0,1986.0,343.0,95.0,606.0,0.0,942.0,NaN
4,2018,8,MQ,Envoy Air,ROW,"Roswell, NM: Roswell International Air Center",30.0,6.0,0.64,0.00,...,4.51,0.0,0.0,585.0,56.0,0.0,65.0,0.0,464.0,NaN

In [6]:
delays_df.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
count,1732.0,1732.0,1732.000000,1731.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,1732.000000,0.0
mean,2018.0,8.0,372.213048,82.544194,21.618782,3.643961,26.802644,0.135658,30.295664,7.132217,1.196305,5885.850462,1624.383949,343.703233,1574.790993,6.768476,2336.203811,NaN
std,0.0,0.0,1046.310753,213.612175,49.482938,9.519026,83.486138,0.596404,81.349525,23.624233,4.889256,16237.543945,4102.785654,934.237366,5748.010351,30.060945,6407.422704,NaN
min,2018.0,8.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN
25%,2018.0,8.0,49.000000,9.000000,2.635000,0.000000,2.000000,0.000000,2.537500,0.000000,0.000000,528.750000,147.000000,0.000000,75.750000,0.000000,158.750000,NaN
50%,2018.0,8.0,105.500000,24.000000,7.425000,1.000000,5.605000,0.000000,8.560000,1.000000,0.000000,1624.000000,486.000000,74.500000,240.500000,0.000000,633.000000,NaN
75%,2018.0,8.0,252.500000,57.000000,17.805000,3.250000,15.310000,0.000000,20.982500,5.000000,1.000000,3917.000000,1331.750000,282.250000,766.500000,0.000000,1714.250000,NaN
max,2018.0,8.0,21931.000000,2852.000000,755.760000,162.840000,1054.380000,13.900000,1165.060000,283.000000,90.000000,213951.000000,68859.000000,13357.000000,94239.000000,441.000000,89884.000000,NaN

In [9]:
delays_df.isna().sum()

year                      0
 month                    0
carrier                   0
carrier_name              0
airport                   0
airport_name              0
arr_flights               0
arr_del15                 1
carrier_ct                0
 weather_ct               0
nas_ct                    0
security_ct               0
late_aircraft_ct          0
arr_cancelled             0
arr_diverted              0
 arr_delay                0
 carrier_delay            0
weather_delay             0
nas_delay                 0
security_delay            0
late_aircraft_delay       0
Unnamed: 21            1732
dtype: int64

In [ ]:
# .csv file with the size of each airport
airports_size = pd.read_csv('2018_airport_size.csv')
airports_size.head()

In [ ]:
# .csv with departure delays for 2018
departure_d2018 = pd.read_csv('2018_origin_delays.csv')
departure_d2018.head()

In [ ]:
# .csv with destiantion delays for 2018
destination_d2018 = pd.read_csv('2018_destination_delays.csv')
destination_d2018

## Merge and clean the dataframes

In [ ]:
# Merge airline delays with coordinates
airports_df = coordinates_df.merge(delays_df, left_on='locationID', right_on='airport')

In [ ]:
# Drop duplicate airport code column
airports_df.drop(columns=['locationID'], inplace=True)

In [ ]:
# Merge airports_df with the size of each airport
airports_df = airports_df.merge(airports_size, left_on='airport', right_on='ORIGIN')

In [ ]:
# Merge departure_d2018 with coordinates for airports
departure_locations_2018 = coordinates.merge(departure_d2018, left_on='locationID', right_on='ORIGIN')
# Drop duplicate airport code column
departure_locations_2018.drop(columns=['locationID'], inplace=True)
# Rename minutes delayed column
departure_locations_2018.rename(columns={"Avg(DEP_DELAY_NEW)": "delay_minutes"}, inplace=True)
departure_locations_2018.sort_values(by='delay_minutes', ascending=False).head()

## Analysis

In [ ]:
# weather_delay

In [ ]:
delays_df.sort_values(by='weather_delay', ascending=False).head()

In [ ]:
list(delays_df)

# Carrier delays

In [ ]:
delays_df.sort_values(by=' carrier_delay', ascending=False).head()

In [ ]:
# 
departure_delays_2018.sort_values(by='Avg(DEP_DELAY_NEW)', ascending=False).head()

# Most daleyed flights and date

# US Airports with the most delays (avg)

Reference: https://www.cbsnews.com/pictures/us-airports-with-the-most-delays/

In [ ]:
departure_delays_2018 = pd.read_csv('2018_origin_delays.csv')
departure_delays_2018.sort_values(by='Avg(DEP_DELAY_NEW)', ascending=False).head()

In [ ]:
departure_locations_2018 = departure_locations_2018.merge(airports_size, left_on='ORIGIN', right_on='ORIGIN')
departure_locations_2018.rename(columns={"Sum(FLIGHTS)": "sum_flights"}, inplace=True)

In [ ]:
departure_locations_2018.sort_values(by='delay_minutes', ascending=False)